@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-image: url("../Imgs/BackgroundCatWorld.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: #F5FFC9;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
}

button{
    background-color: #7AA874;
    color: #F5FFC9;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    margin-top: 10px;
}

button:hover{
    background: #539165;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:active{
    background: #617143;
    border-radius: 10px;
    border: none;
}

canvas { 
   border: #222222;
   border-radius: 20px;
}

input {
    background-color: #7AA874;
    color: #F5FFC9;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    width: 210px;
}

#starter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

#mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittle{
    background-color: #7AA874;
    border-radius: 10px;
    border: none;
    padding: 25px;
}

.botones-movimiento {
    display: flex;
    gap: 10px;
}

@media (max-width: 360px){
    #starter, #mapa, .configuracion,.botones-movimiento {
        flex-direction: column;
    }
  }
